## Car Price Prediction using Random Forest Regression

### Importing Libraries

In [1]:
import pandas as pd

### Loading Dataset

In [2]:
from google.colab import files
uploaded = files.upload()

Saving dataset.csv to dataset.csv

### Load Dataset

In [4]:
dataset=pd.read_csv('dataset.csv')
dataset=dataset.drop(['car_ID'],axis=1)
dataset

     symboling                   CarName fueltype  ... citympg highwaympg    price
0            3        alfa-romero giulia      gas  ...      21         27  13495.0
1            3       alfa-romero stelvio      gas  ...      21         27  16500.0
2            1  alfa-romero Quadrifoglio      gas  ...      19         26  16500.0
3            2               audi 100 ls      gas  ...      24         30  13950.0
4            2                audi 100ls      gas  ...      18         22  17450.0
..         ...                       ...      ...  ...     ...        ...      ...
200         -1           volvo 145e (sw)      gas  ...      23         28  16845.0
201         -1               volvo 144ea      gas  ...      19         25  19045.0
202         -1               volvo 244dl      gas  ...      18         23  21485.0
203         -1                 volvo 246   diesel  ...      26         27  22470.0
204         -1               volvo 264gl      gas  ...      19         25  22625.0

[205 rows x 25 columns]

### Summarize dataset

In [5]:
print(dataset.shape)
print(dataset.head(5))

(205, 25)
   symboling                   CarName fueltype  ... citympg highwaympg    price
0          3        alfa-romero giulia      gas  ...      21         27  13495.0
1          3       alfa-romero stelvio      gas  ...      21         27  16500.0
2          1  alfa-romero Quadrifoglio      gas  ...      19         26  16500.0
3          2               audi 100 ls      gas  ...      24         30  13950.0
4          2                audi 100ls      gas  ...      18         22  17450.0

[5 rows x 25 columns]

### Segregate data into X(Input/Independent Variable) & Y(Output/Dependent Variable)

#### This X contains both numerical and text data

In [6]:
Xdata=dataset.drop('price',axis='columns') 
numericalCols=Xdata.select_dtypes(exclude=['object']).columns
X=Xdata[numericalCols]
X

     symboling  wheelbase  carlength  ...  peakrpm  citympg  highwaympg
0            3       88.6      168.8  ...     5000       21          27
1            3       88.6      168.8  ...     5000       21          27
2            1       94.5      171.2  ...     5000       19          26
3            2       99.8      176.6  ...     5500       24          30
4            2       99.4      176.6  ...     5500       18          22
..         ...        ...        ...  ...      ...      ...         ...
200         -1      109.1      188.8  ...     5400       23          28
201         -1      109.1      188.8  ...     5300       19          25
202         -1      109.1      188.8  ...     5500       18          23
203         -1      109.1      188.8  ...     4800       26          27
204         -1      109.1      188.8  ...     5400       19          25

[205 rows x 14 columns]

In [7]:
Y=dataset['price']
Y

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

### Scaling the independent Variables (Features)

In [8]:
from sklearn.preprocessing import scale
cols=X.columns
X=pd.DataFrame(scale(X))
X.columns=cols
X

     symboling  wheelbase  carlength  ...   peakrpm   citympg  highwaympg
0     1.743470  -1.690772  -0.426521  ... -0.262960 -0.646553   -0.546059
1     1.743470  -1.690772  -0.426521  ... -0.262960 -0.646553   -0.546059
2     0.133509  -0.708596  -0.231513  ... -0.262960 -0.953012   -0.691627
3     0.938490   0.173698   0.207256  ...  0.787855 -0.186865   -0.109354
4     0.938490   0.107110   0.207256  ...  0.787855 -1.106241   -1.273900
..         ...        ...        ...  ...       ...       ...         ...
200  -1.476452   1.721873   1.198549  ...  0.577692 -0.340094   -0.400490
201  -1.476452   1.721873   1.198549  ...  0.367529 -0.953012   -0.837195
202  -1.476452   1.721873   1.198549  ...  0.787855 -1.106241   -1.128332
203  -1.476452   1.721873   1.198549  ... -0.683286  0.119594   -0.546059
204  -1.476452   1.721873   1.198549  ...  0.577692 -0.953012   -0.837195

[205 rows x 14 columns]

### Splitting dataset into Train and Test

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.20,random_state=0)

### Training using Random Forest

In [12]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
model.fit(x_train,y_train)

RandomForestRegressor()

### Evaluating model

In [14]:
ypred=model.predict(x_test)
from sklearn.metrics import r2_score
r2score= r2_score(y_test,ypred)
print("R2score",r2score*100)

R2score 90.3493452835731